@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

$purple: #a259ff;
$darkgrey: #2b2b2b;
$lightgrey: #3b3b3b;
$verylightrey: #858584;
$spacemono: "Space Mono", monospace;
$worksans: "Work Sans", sans-serif;

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: $darkgrey;
}

* {
  padding: 0;
  margin: 0;
}

.btn {
  background-color: $purple;
  border: none;
  border-radius: 20px;
  color: white;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-family: $worksans;
  font-size: 16px;
  display: flex;
  cursor: pointer;
}

.container {
  max-width: 1280px;
  width: 100%;
  display: flex;
  margin: auto;
}

nav {
  display: flex;
  padding: 36px 50px;
  .nav-container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-inline: 12px;
    overflow: hidden;
  }
  .logo {
    display: flex;
    align-items: center;
    img {
      width: 32px;
    }
    h2 {
      color: white;
      padding-left: 12px;
      font-family: $spacemono;
    }
  }
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 34px;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: white;
      font-size: 16px;
      font-weight: 600;
      font-family: $worksans;
    }
    .signupbtn {
      padding: 20px 30px;
      gap: 12px;
      img {
        width: 20px;
      }
    }
  }
}

.discover-section {
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
  .discover-info {
    h2 {
      font-size: 68px;
      font-family: $worksans;
      font-weight: 600;
      color: white;
      padding-bottom: 20px;
    }
    span {
      font-size: 22px;
      font-family: $worksans;
      font-weight: 400;
      color: white;
    }
    button {
      padding: 20px 50px;
      margin-top: 30px;
      img {
        width: 20px;
        padding-right: 20px;
      }
    }
  }

  .discover-numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-top: 30px;
    h1 {
      font-size: 28px;
      font-family: $spacemono;
      font-weight: 700;
      color: white;
    }
    p {
      font-size: 24px;
      font-family: $worksans;
      color: white;
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.discover-img {
  display: flex;
  flex-direction: column;
  background-color: $lightgrey;
  padding-bottom: 20px;
  border-radius: 20px;
  img {
    width: 530px;
  }
  .discovercard-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 22px 20px;
    row-gap: 10px;
    h2 {
      font-family: $worksans;
      font-weight: 600;
      font-size: 22px;
      color: white;
    }
  }
  .discovercard-pfp {
    display: flex;
    column-gap: 12px;
    img {
      width: 20px;
    }
    h2 {
      font-family: $worksans;
      font-weight: 300;
      font-size: 16px;
    }
  }
}

.trending-collection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 80px;
  width: 100%;
  h2 {
    font-family: $worksans;
    font-weight: 600;
    font-size: 38px;
    color: white;
    padding-bottom: 10px;
  }
  p {
    font-family: $worksans;
    font-weight: 300;
    font-size: 22px;
    color: white;
  }
  .trndg-card-collection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .trndg-card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
    }
    .big-trndg-card {
      justify-content: center;
      align-items: center;
      padding-top: 60px;
      img {
        width: 330px;
      }
    }
    .small-trndg-card {
      display: flex;
      padding: 15px 0px;
      gap: 15px;
      img {
        width: 100px;
      }
    }
    .trendingcards-title {
      h2 {
        font-family: $worksans;
        font-weight: 600;
        font-size: 22px;
      }
    }
    .trendingcards-pfp {
      display: flex;
      img {
        width: 28px;
        padding-right: 12px;
      }
      h2 {
        font-family: $worksans;
        font-weight: 300;
        font-size: 16px;
      }
    }
  }
}

.top-creators {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .topcreators-title {
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    h2 {
      font-family: $worksans;
      font-weight: 600;
      font-size: 38px;
      color: white;
      padding-bottom: 10px;
    }
    p {
      font-family: $worksans;
      font-weight: 300;
      font-size: 22px;
      color: white;
    }
  }
  .rankings-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    margin-top: 156px;
    button {
      background-color: transparent;
      border: 1px solid $purple;
      border-radius: 20px;
      color: white;
      justify-content: center;
      align-items: center;
      font-weight: 400;
      font-family: $worksans;
      font-size: 16px;
      display: flex;
      cursor: pointer;
      padding: 20px 50px;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: $purple;
        transition: all 0.2s ease-in-out;
      }
      img {
        padding-right: 12px;
        width: 20px;
      }
    }
  }
}

.avatar-cards {
  display: flex;
  flex-direction: column;
  margin-bottom: 160px;
  .creator-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-content: center;
    align-items: center;
    .card {
      display: flex;
      flex-direction: column;
      position: relative;
      border-radius: 20px;
      background-color: #3b3b3b;
      .cardnum {
        display: flex;
        position: absolute;
        h1 {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 18px 20px;
          background-color: $darkgrey;
          width: 30px;
          height: 30px;
          border-radius: 20px;
          font-family: $spacemono;
          font-weight: 300;
          font-size: 16px;
          color: $verylightrey;
        }
      }
      .cardinfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
        img {
          width: 120px;
        }
        h2 {
          font-family: $worksans;
          font-weight: 600;
          font-size: 22px;
          color: white;
          padding-top: 20px;
        }
        .price {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          p {
            font-family: $worksans;
            font-weight: 300;
            font-size: 16px;
            color: $verylightrey;
          }
          span {
            font-family: $spacemono;
            font-weight: 300;
            font-size: 16px;
            color: white;
          }
        }
      }
    }
  }
}

.browse-categories {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  width: 100%;
  .browse-title {
    margin-bottom: 60px;
    h2 {
      font-family: $worksans;
      font-weight: 600;
      font-size: 38px;
      color: white;
    }
  }
  .browse-categories-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    .browse-card {
      position: relative;
      background-color: $lightgrey;
      border-radius: 25px;
      img {
        width: 300px;
      }
      .icon-image {
        position: absolute;
        align-self: center;
        justify-self: center;
        top: 30%;
        left: 35%;
        img {
          width: 100px;
        }
      }
      h2 {
        font-family: $worksans;
        font-weight: 500;
        font-size: 22px;
        color: white;
        padding: 20px 25px;
      }
    }
  }
}

.placeholddiscover {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
  .placeholders {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .title-placeholder {
      display: flex;
      flex-direction: column;
      padding: 60px 0px;
      h2 {
        font-family: $worksans;
        font-weight: 600;
        font-size: 38px;
        color: white;
      }
      p {
        font-family: $worksans;
        font-size: 22px;
        color: white;
      }
    }
    .btn-placeholders {
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        background-color: transparent;
        border: 1px solid $purple;
        border-radius: 20px;
        color: white;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        font-family: $worksans;
        font-size: 16px;
        display: flex;
        cursor: pointer;
        padding: 20px 50px;
        img {
          padding-right: 12px;
          width: 20px;
        }
      }
    }
  }
  .placeholder-cards {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .placeholder-card {
      display: flex;
      flex-direction: column;
      background-color: $lightgrey;
      border-radius: 20px;
      img {
        width: 330px;
      }
      .upper-info {
        display: flex;
        flex-direction: column;
        padding: 20px 30px;
        h2 {
          font-family: $worksans;
          font-weight: 600;
          font-size: 22px;
          color: white;
        }
        .MoonDancer-pfp-title {
          display: flex;
          flex-direction: row;
          gap: 12px;
          padding-top: 6px;
          img {
            width: 24px;
          }
          p {
            font-family: $spacemono;
            font-weight: 300;
            font-size: 16px;
            color: white;
          }
        }
      }
      .lower-info {
        padding: 20px 30px;
        .price-section {
          display: flex;
          justify-content: space-between;
          width: 100%;
          .left-side {
            h2 {
              font-family: $spacemono;
              font-weight: 300;
              font-size: 12px;
              color: $verylightrey;
            }
            p {
              font-family: $spacemono;
              font-weight: 300;
              font-size: 18px;
              color: white;
              padding-top: 8px;
            }
          }
          .right-side {
            h2 {
              display: flex;
              align-items: end;
              justify-content: end;
              font-family: $spacemono;
              font-weight: 300;
              font-size: 12px;
              color: $verylightrey;
            }
            p {
              font-family: $spacemono;
              font-weight: 300;
              font-size: 18px;
              color: white;
              padding-top: 8px;
            }
          }
        }
      }
    }
  }
}

.auction {
  display: flex;
  padding: 20px 30px;
  .auction-info {
    justify-content: space-between;
    width: 100%;
    .auction-upper-info {
      display: flex;
      flex-direction: column;
      padding-bottom: 26px;
      h2 {
        font-family: $worksans;
        font-weight: 600;
        font-size: 22px;
        color: white;
      }
      .MoonDancer-pfp-title {
        display: flex;
        flex-direction: row;
        gap: 12px;
        padding-top: 6px;
        img {
          width: 24px;
        }
        p {
          font-family: $spacemono;
          font-weight: 300;
          font-size: 16px;
          color: white;
        }
      }
    }
    .auction-lower-info {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-bottom: 26px;
      .price-section {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .left-side {
          h2 {
            font-family: $spacemono;
            font-weight: 300;
            font-size: 12px;
            color: $verylightrey;
          }
          p {
            font-family: $spacemono;
            font-weight: 300;
            font-size: 18px;
            color: white;
            padding-top: 8px;
          }
        }
        .right-side {
          h2 {
            display: flex;
            align-items: end;
            justify-content: end;
            font-family: $spacemono;
            font-weight: 300;
            font-size: 12px;
            color: $verylightrey;
          }
          p {
            font-family: $spacemono;
            font-weight: 300;
            font-size: 18px;
            color: white;
            padding-top: 8px;
          }
        }
      }
    }
  }
}

.nft-highlight {
  background-image: url("BigShroomPic.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  .nft-hightlight-section {
    display: flex;
    .nft-img {
      display: flex;
    }
  }
}

.how-it-works-section {
  display: flex;
  width: 100%;
  padding-bottom: 140px;
  .how-it-works {
    display: flex;
    flex-direction: column;
    .how-it-info {
      display: flex;
      flex-direction: column;
      padding-bottom: 48px;
      gap: 10px;
      h2 {
        font-family: $worksans;
        font-weight: 600;
        font-size: 38px;
        color: white;
      }
      p {
        font-family: $worksans;
        font-weight: 400;
        font-size: 22px;
        color: white;
      }
    }
    .how-it-cards {
      display: flex;
      width: 134%;
      justify-content: space-between;
      .how-it-card {
        display: flex;
        background-color: $lightgrey;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px 30px;
        img {
          width: 250px;
        }
        h2 {
          font-family: $worksans;
          font-weight: 600;
          font-size: 22px;
          color: white;
          text-align: center;
          padding-bottom: 10px;
        }
        p {
          font-family: $worksans;
          font-weight: 400;
          font-size: 16px;
          color: white;
          text-align: center;
          padding-bottom: 30px;
        }
      }
    }
  }
}

.weekly-digest-container{
  display: flex;
  margin-bottom: 80px;
  .weekly-digest{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #3b3b3b;
    padding: 60px;
    border-radius: 20px;
    .left-weekly{
      img{
        width: 426px;
      }
    }
    .right-weekly{
      display: flex;
      flex-direction: column;
      h2{
        font-family: $worksans;
        font-weight: 600;
        font-size: 38px;
        color: white;
        padding-bottom: 10px;
      }
      p{
        font-family: $worksans;
        font-weight: 400;
        font-size: 22px;
        color: white;
      }
      form{
        display: flex;
        margin-top: 50px;
        .email{
          display: flex;
          align-items: center;
          padding: 18px 0px 16px 20px;
          gap: 12px;
          flex: none;
          order: 1;
          align-self: stretch;
          flex-grow: 0;
          border-radius: 20px 0 0 20px;
          border: none;
        }
        button{
          display: flex;
          position: absolute;
          right: 18%;
          justify-content: flex-end;
          align-items: center;
          padding: 12px 50px;
          gap: 12px;
          flex: none;
          order: 1;
          flex-grow: 0;
          background-color: $purple;
          border: none;
          border-radius: 20px;
          cursor: pointer;
          img{
            width: 24px;
            p{
            justify-content: center;
            align-items: center;
            font-family: $worksans;
            font-weight: 600;
            font-size: 16px;
            color: white;
            }
          }
        }
      }
    }
  }
}