@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #2b2b2b;
}

* {
  padding: 0;
  margin: 0;
}

.btn {
  background-color: #a259ff;
  border: none;
  border-radius: 20px;
  color: white;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  display: flex;
  cursor: pointer;
}

.container {
  max-width: 1440px;
  width: 100%;
  display: flex;
  margin: auto;
}

nav {
  display: flex;
  padding: 36px 50px;
}
nav .nav-container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-inline: 12px;
  overflow: hidden;
}
nav .logo {
  display: flex;
  align-items: center;
}
nav .logo img {
  width: 32px;
}
nav .logo h2 {
  color: white;
  padding-left: 12px;
  font-family: "Space Mono", monospace;
}
nav .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
}
nav .nav-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  font-family: "Work Sans", sans-serif;
}
nav .nav-links .signupbtn {
  padding: 20px 30px;
  gap: 12px;
}
nav .nav-links .signupbtn img {
  width: 20px;
}

.discover-section {
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}
.discover-section .discover-info h2 {
  font-size: 68px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  color: white;
  padding-bottom: 20px;
}
.discover-section .discover-info span {
  font-size: 22px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: white;
}
.discover-section .discover-info button {
  padding: 20px 50px;
  margin-top: 30px;
}
.discover-section .discover-info button img {
  width: 20px;
  padding-right: 20px;
}
.discover-section .discover-numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
  margin-top: 30px;
}
.discover-section .discover-numbers h1 {
  font-size: 28px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: white;
}
.discover-section .discover-numbers p {
  font-size: 24px;
  font-family: "Work Sans", sans-serif;
  color: white;
}
.discover-section .discover-numbers div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.discover-img {
  display: flex;
  flex-direction: column;
  background-color: #3b3b3b;
  padding-bottom: 20px;
  border-radius: 20px;
}
.discover-img img {
  width: 530px;
}
.discover-img .discovercard-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 22px 20px;
  row-gap: 10px;
}
.discover-img .discovercard-title h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: white;
}
.discover-img .discovercard-pfp {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.discover-img .discovercard-pfp img {
  width: 20px;
}
.discover-img .discovercard-pfp h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.trending-collection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 80px;
}
.trending-collection h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 38px;
  color: white;
  padding-bottom: 10px;
}
.trending-collection p {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: white;
}
.trending-collection .trndg-card-collection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  -moz-column-gap: 188px;
       column-gap: 188px;
}
.trending-collection .trndg-card-collection .trndg-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.trending-collection .trndg-card-collection .big-trndg-card {
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}
.trending-collection .trndg-card-collection .big-trndg-card img {
  width: 330px;
}
.trending-collection .trndg-card-collection .small-trndg-card {
  display: flex;
  padding: 15px 0px;
  gap: 15px;
}
.trending-collection .trndg-card-collection .small-trndg-card img {
  width: 100px;
}
.trending-collection .trndg-card-collection .trendingcards-title h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
}
.trending-collection .trndg-card-collection .trendingcards-pfp {
  display: flex;
}
.trending-collection .trndg-card-collection .trendingcards-pfp img {
  width: 28px;
  padding-right: 12px;
}
.trending-collection .trndg-card-collection .trendingcards-pfp h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.top-creators {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.top-creators .topcreators-title {
  display: flex;
  flex-direction: column;
  margin-top: 140px;
}
.top-creators .topcreators-title h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 38px;
  color: white;
  padding-bottom: 10px;
}
.top-creators .topcreators-title p {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: white;
}
.top-creators .rankings-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
  margin-top: 156px;
}
.top-creators .rankings-btn button {
  background-color: transparent;
  border: 1px solid #a259ff;
  border-radius: 20px;
  color: white;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  display: flex;
  cursor: pointer;
  padding: 20px 50px;
  transition: all 0.2s ease-in-out;
}
.top-creators .rankings-btn button:hover {
  background-color: #a259ff;
  transition: all 0.2s ease-in-out;
}
.top-creators .rankings-btn button img {
  padding-right: 12px;
  width: 20px;
}/*# sourceMappingURL=style.css.map */