@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #2b2b2b;
}

* {
  padding: 0;
  margin: 0;
}

.btn {
  background-color: #a259ff;
  border: none;
  border-radius: 20px;
  color: white;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  display: flex;
  cursor: pointer;
}

.container {
  max-width: 1280px;
  width: 100%;
  display: flex;
  margin: auto;
}

nav {
  display: flex;
  padding: 36px 50px;
}
nav .nav-container {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-inline: 12px;
  overflow: hidden;
}
nav .logo {
  display: flex;
  align-items: center;
}
nav .logo img {
  width: 32px;
}
nav .logo h2 {
  color: white;
  padding-left: 12px;
  font-family: "Space Mono", monospace;
}
nav .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 34px;
}
nav .nav-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  font-family: "Work Sans", sans-serif;
}
nav .nav-links .signupbtn {
  padding: 20px 30px;
  gap: 12px;
}
nav .nav-links .signupbtn img {
  width: 20px;
}

.discover-section {
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}
.discover-section .discover-info h2 {
  font-size: 68px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  color: white;
  padding-bottom: 20px;
}
.discover-section .discover-info span {
  font-size: 22px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: white;
}
.discover-section .discover-info button {
  padding: 20px 50px;
  margin-top: 30px;
}
.discover-section .discover-info button img {
  width: 20px;
  padding-right: 20px;
}
.discover-section .discover-numbers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
  margin-top: 30px;
}
.discover-section .discover-numbers h1 {
  font-size: 28px;
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: white;
}
.discover-section .discover-numbers p {
  font-size: 24px;
  font-family: "Work Sans", sans-serif;
  color: white;
}
.discover-section .discover-numbers div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.discover-img {
  display: flex;
  flex-direction: column;
  background-color: #3b3b3b;
  padding-bottom: 20px;
  border-radius: 20px;
}
.discover-img img {
  width: 530px;
}
.discover-img .discovercard-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 22px 20px;
  row-gap: 10px;
}
.discover-img .discovercard-title h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: white;
}
.discover-img .discovercard-pfp {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.discover-img .discovercard-pfp img {
  width: 20px;
}
.discover-img .discovercard-pfp h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.trending-collection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 80px;
  width: 100%;
}
.trending-collection h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 38px;
  color: white;
  padding-bottom: 10px;
}
.trending-collection p {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: white;
}
.trending-collection .trndg-card-collection {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trending-collection .trndg-card-collection .trndg-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.trending-collection .trndg-card-collection .big-trndg-card {
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}
.trending-collection .trndg-card-collection .big-trndg-card img {
  width: 330px;
}
.trending-collection .trndg-card-collection .small-trndg-card {
  display: flex;
  padding: 15px 0px;
  gap: 15px;
}
.trending-collection .trndg-card-collection .small-trndg-card img {
  width: 100px;
}
.trending-collection .trndg-card-collection .trendingcards-title h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
}
.trending-collection .trndg-card-collection .trendingcards-pfp {
  display: flex;
}
.trending-collection .trndg-card-collection .trendingcards-pfp img {
  width: 28px;
  padding-right: 12px;
}
.trending-collection .trndg-card-collection .trendingcards-pfp h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.top-creators {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.top-creators .topcreators-title {
  display: flex;
  flex-direction: column;
  margin-top: 140px;
}
.top-creators .topcreators-title h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 38px;
  color: white;
  padding-bottom: 10px;
}
.top-creators .topcreators-title p {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: white;
}
.top-creators .rankings-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
  margin-top: 156px;
}
.top-creators .rankings-btn button {
  background-color: transparent;
  border: 1px solid #a259ff;
  border-radius: 20px;
  color: white;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  display: flex;
  cursor: pointer;
  padding: 20px 50px;
  transition: all 0.2s ease-in-out;
}
.top-creators .rankings-btn button:hover {
  background-color: #a259ff;
  transition: all 0.2s ease-in-out;
}
.top-creators .rankings-btn button img {
  padding-right: 12px;
  width: 20px;
}

.avatar-cards {
  display: flex;
  flex-direction: column;
  margin-bottom: 160px;
}
.avatar-cards .creator-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.avatar-cards .creator-cards .card {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 20px;
  background-color: #3b3b3b;
}
.avatar-cards .creator-cards .card .cardnum {
  display: flex;
  position: absolute;
}
.avatar-cards .creator-cards .card .cardnum h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 18px 20px;
  background-color: #2b2b2b;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  font-family: "Space Mono", monospace;
  font-weight: 300;
  font-size: 16px;
  color: #858584;
}
.avatar-cards .creator-cards .card .cardinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.avatar-cards .creator-cards .card .cardinfo img {
  width: 120px;
}
.avatar-cards .creator-cards .card .cardinfo h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: white;
  padding-top: 20px;
}
.avatar-cards .creator-cards .card .cardinfo .price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.avatar-cards .creator-cards .card .cardinfo .price p {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #858584;
}
.avatar-cards .creator-cards .card .cardinfo .price span {
  font-family: "Space Mono", monospace;
  font-weight: 300;
  font-size: 16px;
  color: white;
}

.browse-categories {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  width: 100%;
}
.browse-categories .browse-title {
  margin-bottom: 60px;
}
.browse-categories .browse-title h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 38px;
  color: white;
}
.browse-categories .browse-categories-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.browse-categories .browse-categories-cards .browse-card {
  position: relative;
  background-color: #3b3b3b;
  border-radius: 25px;
}
.browse-categories .browse-categories-cards .browse-card img {
  width: 300px;
}
.browse-categories .browse-categories-cards .browse-card .icon-image {
  position: absolute;
  align-self: center;
  justify-self: center;
  top: 30%;
  left: 35%;
}
.browse-categories .browse-categories-cards .browse-card .icon-image img {
  width: 100px;
}
.browse-categories .browse-categories-cards .browse-card h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: white;
  padding: 20px 25px;
}

.placeholddiscover {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
}
.placeholddiscover .placeholders {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.placeholddiscover .placeholders .title-placeholder {
  display: flex;
  flex-direction: column;
  padding: 60px 0px;
}
.placeholddiscover .placeholders .title-placeholder h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 38px;
  color: white;
}
.placeholddiscover .placeholders .title-placeholder p {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  color: white;
}
.placeholddiscover .placeholders .btn-placeholders {
  display: flex;
  justify-content: center;
  align-items: center;
}
.placeholddiscover .placeholders .btn-placeholders button {
  background-color: transparent;
  border: 1px solid #a259ff;
  border-radius: 20px;
  color: white;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  display: flex;
  cursor: pointer;
  padding: 20px 50px;
}
.placeholddiscover .placeholders .btn-placeholders button img {
  padding-right: 12px;
  width: 20px;
}
.placeholddiscover .placeholder-cards {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.placeholddiscover .placeholder-cards .placeholder-card {
  display: flex;
  flex-direction: column;
  background-color: #3b3b3b;
  border-radius: 20px;
}
.placeholddiscover .placeholder-cards .placeholder-card img {
  width: 330px;
}
.placeholddiscover .placeholder-cards .placeholder-card .upper-info {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}
.placeholddiscover .placeholder-cards .placeholder-card .upper-info h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: white;
}
.placeholddiscover .placeholder-cards .placeholder-card .upper-info .MoonDancer-pfp-title {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding-top: 6px;
}
.placeholddiscover .placeholder-cards .placeholder-card .upper-info .MoonDancer-pfp-title img {
  width: 24px;
}
.placeholddiscover .placeholder-cards .placeholder-card .upper-info .MoonDancer-pfp-title p {
  font-family: "Space Mono", monospace;
  font-weight: 300;
  font-size: 16px;
  color: white;
}
.placeholddiscover .placeholder-cards .placeholder-card .lower-info {
  padding: 20px 30px;
}
.placeholddiscover .placeholder-cards .placeholder-card .lower-info .price-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.placeholddiscover .placeholder-cards .placeholder-card .lower-info .price-section .left-side h2 {
  font-family: "Space Mono", monospace;
  font-weight: 300;
  font-size: 12px;
  color: #858584;
}
.placeholddiscover .placeholder-cards .placeholder-card .lower-info .price-section .left-side p {
  font-family: "Space Mono", monospace;
  font-weight: 300;
  font-size: 18px;
  color: white;
  padding-top: 8px;
}
.placeholddiscover .placeholder-cards .placeholder-card .lower-info .price-section .right-side h2 {
  display: flex;
  align-items: end;
  justify-content: end;
  font-family: "Space Mono", monospace;
  font-weight: 300;
  font-size: 12px;
  color: #858584;
}
.placeholddiscover .placeholder-cards .placeholder-card .lower-info .price-section .right-side p {
  font-family: "Space Mono", monospace;
  font-weight: 300;
  font-size: 18px;
  color: white;
  padding-top: 8px;
}

.auction {
  display: flex;
  padding: 20px 30px;
}
.auction .auction-info {
  justify-content: space-between;
  width: 100%;
}
.auction .auction-info .auction-upper-info {
  display: flex;
  flex-direction: column;
  padding-bottom: 26px;
}
.auction .auction-info .auction-upper-info h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: white;
}
.auction .auction-info .auction-upper-info .MoonDancer-pfp-title {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding-top: 6px;
}
.auction .auction-info .auction-upper-info .MoonDancer-pfp-title img {
  width: 24px;
}
.auction .auction-info .auction-upper-info .MoonDancer-pfp-title p {
  font-family: "Space Mono", monospace;
  font-weight: 300;
  font-size: 16px;
  color: white;
}
.auction .auction-info .auction-lower-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 26px;
}
.auction .auction-info .auction-lower-info .price-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.auction .auction-info .auction-lower-info .price-section .left-side h2 {
  font-family: "Space Mono", monospace;
  font-weight: 300;
  font-size: 12px;
  color: #858584;
}
.auction .auction-info .auction-lower-info .price-section .left-side p {
  font-family: "Space Mono", monospace;
  font-weight: 300;
  font-size: 18px;
  color: white;
  padding-top: 8px;
}
.auction .auction-info .auction-lower-info .price-section .right-side h2 {
  display: flex;
  align-items: end;
  justify-content: end;
  font-family: "Space Mono", monospace;
  font-weight: 300;
  font-size: 12px;
  color: #858584;
}
.auction .auction-info .auction-lower-info .price-section .right-side p {
  font-family: "Space Mono", monospace;
  font-weight: 300;
  font-size: 18px;
  color: white;
  padding-top: 8px;
}

.nft-highlight {
  background-image: url("BigShroomPic.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}
.nft-highlight .nft-hightlight-section {
  display: flex;
}
.nft-highlight .nft-hightlight-section .nft-img {
  display: flex;
}

.how-it-works-section {
  display: flex;
  width: 100%;
  padding-bottom: 140px;
}
.how-it-works-section .how-it-works {
  display: flex;
  flex-direction: column;
}
.how-it-works-section .how-it-works .how-it-info {
  display: flex;
  flex-direction: column;
  padding-bottom: 48px;
  gap: 10px;
}
.how-it-works-section .how-it-works .how-it-info h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 38px;
  color: white;
}
.how-it-works-section .how-it-works .how-it-info p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: white;
}
.how-it-works-section .how-it-works .how-it-cards {
  display: flex;
  width: 134%;
  justify-content: space-between;
}
.how-it-works-section .how-it-works .how-it-cards .how-it-card {
  display: flex;
  background-color: #3b3b3b;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 30px;
}
.how-it-works-section .how-it-works .how-it-cards .how-it-card img {
  width: 250px;
}
.how-it-works-section .how-it-works .how-it-cards .how-it-card h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: white;
  text-align: center;
  padding-bottom: 10px;
}
.how-it-works-section .how-it-works .how-it-cards .how-it-card p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
  text-align: center;
  padding-bottom: 30px;
}

.weekly-digest-container {
  display: flex;
  margin-bottom: 80px;
  width: 100%;
}
.weekly-digest-container .weekly-digest {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #3b3b3b;
  padding: 60px;
  border-radius: 20px;
}
.weekly-digest-container .weekly-digest .left-weekly img {
  width: 426px;
}
.weekly-digest-container .weekly-digest .right-weekly {
  display: flex;
  flex-direction: column;
}
.weekly-digest-container .weekly-digest .right-weekly h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 38px;
  color: white;
  padding-bottom: 10px;
}
.weekly-digest-container .weekly-digest .right-weekly p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: white;
}
.weekly-digest-container .weekly-digest .right-weekly form {
  display: flex;
  margin-top: 50px;
  border-radius: 20px;
  background-color: white;
}
.weekly-digest-container .weekly-digest .right-weekly form .email {
  display: flex;
  border: none;
  border-radius: 20px;
  padding: 20px;
}
.weekly-digest-container .weekly-digest .right-weekly form button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a259ff;
  border: none;
  border-radius: 20px;
  width: 220px;
  height: 60px;
  cursor: pointer;
}
.weekly-digest-container .weekly-digest .right-weekly form button img {
  width: 24px;
  padding-right: 14px;
}
.weekly-digest-container .weekly-digest .right-weekly form button img p {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: white;
}

footer {
  display: flex;
  background-color: #3b3b3b;
}
footer .footer-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding: 40px 114px;
}
footer .footer-section .left-footer {
  display: flex;
  flex-direction: column;
}
footer .footer-section .left-footer .footer-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
footer .footer-section .left-footer .footer-logo img {
  width: 32px;
}
footer .footer-section .left-footer .footer-logo p {
  font-family: "Space Mono", monospace;
  font-size: 20px;
  font-weight: 600;
  color: white;
}
footer .footer-section .left-footer .left-footer-info {
  display: flex;
  flex-direction: column;
}
footer .footer-section .left-footer .left-footer-info h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #858584;
  padding-bottom: 20px;
}
footer .footer-section .left-footer .left-footer-info p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #858584;
  padding-bottom: 15px;
}
footer .footer-section .left-footer .footer-icons {
  display: flex;
  gap: 10px;
}
footer .footer-section .left-footer .footer-icons img {
  width: 32px;
}
footer .footer-section .middle-footer {
  display: flex;
  flex-direction: column;
}
footer .footer-section .middle-footer h2 {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 22px;
  color: white;
  padding-bottom: 26px;
}
footer .footer-section .middle-footer a {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #858584;
  padding: 10px 0;
  text-decoration: none;
}
footer .footer-section .right-footer {
  display: flex;
  flex-direction: column;
}
footer .footer-section .right-footer h2 {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 22px;
  color: white;
  padding-bottom: 26px;
}
footer .footer-section .right-footer p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #858584;
}
footer .footer-section .right-footer form {
  display: flex;
  margin-top: 50px;
  border-radius: 20px;
  background-color: white;
}
footer .footer-section .right-footer form .email {
  display: flex;
  border: none;
  border-radius: 20px;
  padding: 20px;
}
footer .footer-section .right-footer form button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a259ff;
  border: none;
  border-radius: 20px;
  width: 262px;
  height: 60px;
  cursor: pointer;
}
footer .footer-section .right-footer form button img {
  width: 24px;
  padding-right: 14px;
}
footer .footer-section .right-footer form button span {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: white;
}/*# sourceMappingURL=style.css.map */